body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Comfortaa', cursive;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

#body-inicio {
    background-image: url(img/pizzaback.png);
}

#img-inicio {
    width: 99%;
}

#div-footer {
    width: 101%;
}

#mi-footer {
    background-color: #292b2c;
    width: 100%;
    color: azure;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

