@{
    ViewBag.Title = "Crear mi pizza";
}


<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="~/Content/estilos.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.css">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/main.js"></script>

</head>

<body class="body-content" onload="javascript:cambiarPestanna(pestanas,pestana1);">

    <hr />
    <h2> <strong> Elija los elementos favoritos para su pizza</strong></h2>
    <hr />

    <div class="wrap">
        <ul class="tabs">
            <li><a href="#tab2"><span class="fas fa-ruler"></span><span class="tab-text"> Tamaño </span></a></li>
            <li><a href="#tab2"><span class="fas fa-bread-slice"></span><span class="tab-text"> Masa y salsa </span></a></li>
            <li><a href="#tab3"><span class="fas fa-pizza-slice"></span><span class="tab-text"> Ingredientes </span></a></li>
            <li><a href="#tab4"><span class="fas fa-paper-plane"></span><span class="tab-text"> Info de envío </span></a></li>

        </ul>

        <div class="secciones">
            @using (Html.BeginForm("EnviaDatosCreacion", "Pizza", FormMethod.Post, new { @id = "formPreg", enctype = "multipart/form-data" }))
            {
                <article id="tab1">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Elemento 1</p>
                        </div>
                        <div class="col-md-4">
                            <p>Elemento 2</p>
                        </div>
                        <div class="col-md-4">
                            <p>Elemento 3</p>
                        </div>
                    </div>
                </article>

                <article id="tab2">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Elemento 1</p>
                        </div>
                        <div class="col-md-4">
                            <p>Elemento 2</p>
                        </div>
                        <div class="col-md-4">
                            <p>Elemento 3</p>
                        </div>
                    </div>
                </article>

                <article id="tab3">
                    <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <img src="~/Content/img/ingresientes1.jpg" width="330" height="200" /> <hr />
                                    <input name="IngredientesId" type="checkbox" value="1" /> Jamón <br />
                                    <input name="IngredientesId" type="checkbox" value="2" /> Hongos <br />
                                    <input name="IngredientesId" type="checkbox" value="4" /> Salami <br />
                                    <input name="IngredientesId" type="checkbox" value="3" /> Peperoni <br />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <img src="~/Content/img/ingresientes2.jpg" width="330" height="200" /> <hr />
                                    <input name="IngredientesId" type="checkbox" value="5" /> Pollo <br />
                                    <input name="IngredientesId" type="checkbox" value="6" /> Carne molida <br />
                                    <input name="IngredientesId" type="checkbox" value="7" /> Chorizo <br />
                                    <input name="IngredientesId" type="checkbox" value="8" /> Tosino <br />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <img src="~/Content/img/ingresientes3.jpg" width="330" height="200" /> <hr />
                                    <input name="IngredientesId" type="checkbox" value="9" /> Queso parmesano <br />
                                    <input name="IngredientesId" type="checkbox" value="10" /> Queso cheddar <br />
                                    <input name="IngredientesId" type="checkbox" value="11" /> Cebolla <br />
                                    <input name="IngredientesId" type="checkbox" value="12" /> Jalapeños <br />
                                </div>
                            </div>
                    </div>
                </article>

                <article id="tab4">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Elemento 1</p>
                        </div>
                        <div class="col-md-4">
                            <p>Elemento 2</p>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="submit" value="Terminar mi pedido" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </article>
            }
        </div>
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

</html>



