@{
    ViewBag.Title = "Página de inicio";
}

<div class="jumbotron">
    <h1>PIZZA PERSONALIZADA</h1>
    <p class="lead">Cree su pizza con sus ingredientes favoritos y se la enviamos hasta su casa #QuedateEnCasa  </p>
    <img src="~/Content/img/pizzabanner.jpg"  alt="" loading="lazy">
    <hr />
    <p><a href="/Pizza/CrearPizza" class="btn btn-primary btn-lg "> Crear mi pizza </a></p>

</div>
