@{
    ViewBag.Title = "Página de inicio";
}

<html>

<head>



</head>

<body class="body-content" id="body-inicio">

    <div class="jumbotron">
        <h1>PIZZA PERSONALIZADA</h1>
        <p class="lead">Cree su pizza con sus ingredientes favoritos y se la enviamos hasta su casa  </p>
        <div class="text-md-center">
            <img src="~/Content/img/pizzabanner.jpg" alt="" loading="lazy" id="img-inicio">
        </div>
        <hr />
        <p><a href="/Pizza/CrearPizza" class="btn btn-primary btn-lg "> Crear mi pizza </a></p>
        <p> Aproveche nuestros envíos gratis de temporada </p>
    </div>

</body>


</html>
